body{
background-image: url('./images/Aplha1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: auto;
}

/* Media query for mobile devices  */
@media only screen and (max-width: 767px) {
    body {
      background-image: url("./images/Alpha2.png");
    }
}